<article id="intro">
    <h2 class="major">Intro</h2>
    <span class="image main"><img src="static/images/gearLeft.jpg" alt="" /></span>
    <p>This Project consist of <strong>three stages</strong>  on SCADA programming stage</p>
    <p><strong>First Stage</strong> includes the automated production of ready to use database for IFix software.All the  associated SCADA signals and alarms are generated in a ready to import CSV files in accordance with IFix 5.5+ Software.</p>
    <p><strong>Second Stage</strong> oversees the generation of TGD files for all the devices included in the SCADA system. Properties of each device are grouped together in a TGD file linked to the device. </p>
    <p><strong>Third Stage</strong> produce L5x files for AB Programmable logic controllers. The L5x file include ready to use  ladder logic for the system based on the I/O points.</p>
</article>