<article id="work">
    <h2 class="major">How IT Work</h2>
    <p>Populate a standard Xlsx device list & I/O points based on the engineering drawing of the SCADA system.</p>
    <span class="image main"><img src="static/images/I&C.png" alt="" /></span>
    <p>Upload the  file and receive the following:</p>
    <p>The DB file for the SCADA system</p>
    <span class="image main"><img src="static/images/DBifix.png" alt="" /></span>
    <p>The TGD files for all the devices in the SCADA system</p>
    <span class="image main"><img src="static/images/TGD.png" alt="" /></span>
    <p>The L5x file  containing the standard baseload of the SCADA system</p>
    <span class="image main"><img src="static/images/ABladder.png" alt="" /></span>

</article>